{
  "extends": [
    "airbnb-base",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": [],
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "comma-dangle": [1, "always-multiline"],
    "arrow-body-style": [0],
    "global-require": 0,
    "no-console": 0,
    "import/no-unresolved": [0],
    "no-unused-expressions": "error"
  }
}